# Backend gitignore

/node_modules
node_modules
.env
/.env

# Frontend gitignore

# Node.js
/node_modules
/dist
/.vite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# IDE/editor files
.vscode/
.idea/

# Build output
/dist/

# Tailwind CSS build folder (if you have any custom output folder for Tailwind)
tailwind.config.js
