body {
  background-color: #111111;
  color: #feffff;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 200px;
  transition: width 0.3s ease;
  background-color: #0C172E;
}

.sidebar.hidden {
  width: 0;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  transition: transform 0.3s ease-in-out; /* Smooth movement */
  padding: 20px;
}

/* Move the main content when sidebar is open */
.main-content.shifted {
  transform: translateX(200px); /* Moves right */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #283D55;
  color: #f4ded1;
}
